.pokemon-card-container {
    margin: 0 auto;
}

.pokemon-card {
    height: 300px;
    width: 200px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s ease;
}

.pokemon-card:hover{
    background-color: bisque;
    transform: scale(1.1);
    transition: 0.2s ease;
}

.pokemon-name {
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1rem;
    font-weight: 900;
    text-transform: uppercase;
}

.pokemon-img {
    width: 200px;
    height: 200px;
}